.selector {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selector-label {
    color: #0D1F22;
    font-family: Inter;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.selector-control {
    display: flex;
    align-items: center;
    margin-left: auto;
    /* margin-bottom: 15px; */
    margin-right: 35px;
    width: 128px;
    border-radius: 15px;
    color: #FFFFFA;
    background-color: #0D1F22;
    text-align: center; /* Added to center the text */
}

.label-tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: fixed;
    top: auto;
    left: 0;
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 0.8rem;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin-top: 5px;
    transition: opacity 0.1s ease;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.tooltip.tooltip-visible {
    opacity: 0.9;
    visibility: visible;
}

.tooltip:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}