/* Footer.css */

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2rem;
    background-color: #558B6E;
    color: #FFFFFA;
    text-align: center;
  }
  
  .footer .social-media {
    margin-bottom: 1rem;
  }
  
  .footer .social-media a {
    margin: 0 1rem;
    color: #fff;
    font-size: 1.5rem;
  }
  
  .footer .newsletter-signup {
    margin-bottom: 1rem;
  }
  
  .footer .contact-info p {
    margin-bottom: 0.5rem;
  }
  