.drop-down {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #FFFFFA;
    padding: 0.6rem;
    overflow: hidden;
    transition: height 0.3s ease;
}

.drop-down-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.drop-down-header:hover {
    cursor: pointer;
}

.drop-down-name {
    color: #0D1F22;
    font-size: 0.9rem;
    margin: 0;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown-arrow.flipped {
    transform: scaleY(-1);
}