.drop-down {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 0.9375rem;
    background: #FFFFFA;
    padding: 0.6rem;
    overflow: visible;
    transition: height 0.3s ease;
    margin-bottom: 0.9rem;
    user-select: none;
}

.drop-down-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

.drop-down-header:hover {
    cursor: pointer;
}

.drop-down-name {
    color: #0D1F22;
    font-size: 0.9rem;
    margin: 0;
}

.dropdown-arrow {
    transition: transform 0.3s ease;
}

.dropdown-arrow.flipped {
    transform: scaleY(-1);
}

/* .drop-down-content :last-child {
    margin-bottom: 0;
} */

.drop-down-content > * {
    margin-top: 15px;
}

.drop-down-content {
    overflow: visible;
    padding-bottom: 15px;
}